@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&subset=latin);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,900,400italic,700italic&subset=latin);

html,body{
	margin:0;padding:0;
	font-family:'Montserrat';
	background:#fff;	
}
.container{
	max-width:1100px;	
}
.header{
	height:60px;
	background:#fff;
}

.logo{
	padding:10px;
	margin-right:30px;
	width:250px;
}
#navbar{
	background:#fff;	
}
.top-menu{
	padding-top:5px;
}
.navbar-nav li{
	display:inline-block;
	
}
.navbar-nav li a{
	color:#3455a8 !important;
	font-weight:500;
	padding:15px 25px !important;
}
.navs li a:hover{
	border-color:#fff;
	background:#fff;
	color:#333;	
}
.btn-df{
	background-color: #ff8c00;
	    box-shadow: 0 1px 2px hsla(0,0%,0%,.15), inset 0 -1px 0 hsla(0,0%,0%,.2);
    border: 0 !important;	
}

.title{
	color:#fff;font-weight:500;margin:20px auto;font-size:40px;	
}
.description{
	color:#666;font-size:18px;padding:0 15%;margin-bottom:60px	
}
.title-2{
	font-size:40px;color:#fff;font-weight:500;text-transform:capitalize;
	padding:0 0 0 0;
	padding-bottom:30px;
	font-size:34px;		
}

.side-1{
	background:linear-gradient(to bottom,#195C9D 0,#1e88e5 100%);
	padding-top:100px;
	text-align:center;
}

.side-1-action{
	margin-top:60px;
	margin-bottom:60px;	
}
.side-1-action button{
	width:210px;
	height:40px;
	font-weight:500;
	background:transparent;	
	color:#fff;
	border-color:#fff;
	margin:10px 5px;
}
.side-1-action button:first-child{
	background: #ff8d00;
    border: 0;
    box-shadow: #a55c02 0 -2px 0 inset;
    padding-top: 9px;
    padding-bottom: 9px;
    height: 40px;
	
}
.side-1-action button:last-child{
	color:#fff !important;
}
.video-demo{
	
}

/*.video-demo{
	position:relative;
	padding-bottom:56.25%;
	padding-top:0;
	height:0;
	z-index:2;
	overflow:hidden;	
}

.video-demo iframe, .video-demo object, .video-demo embed {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:2;	
}
.video-background{
	position:absolute;
	top:0;
	left:0;
	width:130%;
	z-index:3;
}
*/
@media (max-width: 768px){
	.navbar-nav li{
		display:block;
	
	}
.navbar-nav li a{
	color:#3455a8 !important;
	font-weight:500;
	padding:15px 25px !important;
}
.navs li a:hover{
	border-color:#fff;
	background:#fff;
	color:#333;	
}
 	.title{
		font-size:30px	
	}
	
   .description{
	color:#666;font-size:18px;padding:0 5% !important;margin-bottom:60px	
   }
   
}


.side-2{
	padding:80px 0;
}
.side-2 .item h5{
	text-transform:capitalize;
	font-size:18px;	
}
.side-2 .item i{
	    width: 62px;
    height: 62px;
    text-align: center;
    vertical-align: middle;
    line-height:62px;
    border-radius: 45px;
    background-color: #68bc34;
    color: #FFF;
    cursor: pointer;
		
}
.side-2 .item p{
	color:#666;
	font-size:15px;	
}

.side-3{
	background:linear-gradient(to bottom,#195C9D 0,#1e88e5 100%);
	padding:80px 0;
	text-align:center;
}

.buybutton a{
	background: #97b714;
    padding:20px  20px;
    color: #fff;
    display: block;
    border-top: 1px solid #485900;
    border-right: 1px solid #485900;
    border-left: 1px solid #485900;
    border-bottom: 4px solid #485900;
    border-radius: 80px;
    text-shadow: 1px 1px 1px #666;	
	font-size: 30px;
	font-weight:500;
	text-align:center;
	width:600px;
	margin:auto;
	text-decoration:none !important;	
}


.function{
	background-image:url(../img/page/bg-geo-transparent.png);
	background-repeat:repeat;background-color:#013A5D;
	padding-top:40px;padding-bottom:40px;
}
.function h4{
	font-size:26px;	
	margin-bottom:20px;
}
.function img{
	width:100%	
}
.function .des{
	color:#fff;
	text-align:left;
	margin:20px 0;
		
}


.buy-price-item{
	min-width:320px;
	max-width:350px;
	display:inline-block;
	box-shadow: 0 2px 15px 0 rgba(0,0,0,.2);
	border-radius:5px;
	overflow:hidden;
	margin-bottom:15px;	
	font-family:"Open Sans", sans-serif;
}
.buy-price-item h4{
	color:#fff;
	margin:0;
	padding:25px 0;	
	font-size:30px;
	background:#68bc34;
	font-weight:600;
}
.buy-price-item .info{
	background:#fff;
	padding:10px 10px;
	border-bottom:1px solid #ddd
}
.buy-price-item p{
	color:#666;	
	font-size:15px;
	margin-bottom:0;
}

p.price{
	font-size:40px;
	font-weight: bold;color:#E10000	
}

.viet-pay div{
	margin-bottom:20px;	
	padding:0 20px;
}

.viet-pay p{
	text-align:left;
	padding:0 10px;
	margin-bottom:0;	
}
.viet-pay p span{
	display:inline-block;
}


.contact{
	color:#444
}
.contact .item i{
	font-size:34px;	
	color:#666;
	margin-bottom:20px
}


.fb_iframe_widget, .fb_iframe_widget span, .fb_iframe_widget span iframe[style], .fb-comments span, .fb-comments iframe {
    width: 100% !important;
}


footer{
	background:#222;
	padding-top:20px;
	text-align:center;
}	
.f-sp{
	display:inline-block;
	width:200px;	
}
.f-sp p:first-child{
	font-size:16px;
	padding-top:10px;
	color:#fff	
}
.f-sp p a{
	color:#fff;	
	font-size:13px;
}
.f-menu{
	margin:0;
	padding:0;
	display:inline-block;
	vertical-align:top;	
}
.f-menu li{
	display:inline-block;	
}
.f-menu li a{
	display:inline-block;
	text-transform:uppercase;
	color:#fff;
	padding:10px 20px;	
}