@import url(https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700&subset=latin);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,900,400italic,700italic&subset=latin);

html,body{
	margin:0;padding:0;
	font-family: 'Open Sans', sans-serif;
	background:#fff;	
}
.container{
	max-width:1100px;	
}

.header{
	height:60px;
	background:#fff;
	border:0 !important;
	box-shadow: 0px 0 6px -4px #000;
}

.logo{
	padding:12px;
	margin-right:30px;
	width:250px;
}
#navbar{
		
}
.top-menu{
	padding-top:5px;
}
.navbar-nav li{
	display:inline-block;
	
}
.navbar-nav li a{
	color:#333;
	font-weight:500;
	padding:15px 25px !important;
	font-weight:600;
	text-transform:uppercase;
}
.navbar-nav li a:hover{
	border-color:#fff;
	background:#fff;
	color:#1080f2 !important;	
}
.btn-df{
	background-color: #ff8c00;
	box-shadow: 0 1px 2px hsla(0,0%,0%,.15), inset 0 -1px 0 hsla(0,0%,0%,.2);
    border: 0 !important;	
}

#home{
	background-color:#1080f2;
	padding-top:100px;
	text-align:left;
	position:relative;
	background-image:linear-gradient(180deg, rgba(51, 51, 51, 0.04) 0%, rgba(255, 255, 255, 0.04) 100%);
}
#particles-js {
    position: absolute;
    top:120px;
    left: 0;
    right:36%;
}
.text-demo{
	padding-top:50px;	
}
.title{
	color:#fff;font-weight:500;
	
	margin-bottom:30px;
	font-size:38px;
		
}
.description{
	color:#666;
	font-size:18px;
	margin-bottom:30px	
}
.title-2{
	font-size:40px;color:#fff;font-weight:500;text-transform:capitalize;
	padding:0 0 0 0;
	padding-bottom:30px;
	font-size:34px;		
}



#home .action{
	margin-top:20px;
	margin-bottom:0;	
}
#home .action a{
	width:180px;
	height:40px;
	line-height:26px;
	font-weight:500;
	background:transparent;	
	color:#fff !important;
	border-color:#fff;
	margin:10px 5px;
}
#home .action a:last-child{
	background:#086db2;
	border-color:transparent;	
}


 .video-demo{
	margin-top:30px;
	height:460px;
	background:url(../img/xxx.png);
	background-size:100%;
	background-repeat:no-repeat;
	background-position:center top;
	opacity:0.9;
	z-index:10;
	position:relative;
}


@media (max-width: 992px){
	.text-demo{
		text-align:center;
		padding-top:20px;	
	}
	.video-demo{
		max-width:500px;
		margin:80px auto;	
	}
}

@media (max-width: 768px){
	.navbar-nav li{
		display:block;
	
	}
	.navbar-nav li a{
		color:#3455a8 !important;
		font-weight:500;
		padding:15px 25px !important;
	}
	.navs li a:hover{
		border-color:#fff;
		background:#fff;
		color:#333;	
	}
	.text-demo{
		padding-bottom:50px;	
	}
	.video-demo{
		display:none !important;	
	}
 	.title{
		font-size:30px	
	}
	
   .description{
	color:#666;font-size:18px;padding:0 5% !important;margin-bottom:60px	
   }
   
}



#products{
	padding:50px 0;	
}
#products .product-intro h2{
	color:#444;
	font-size:34px;
	text-transform:capitalize;
}
#products .product-intro p{
	margin-top:20px;
	font-size:16px;
	color:#999;	
}

#products .product-info{
	margin-top:60px;
	margin-bottom:60px;
}
#products .service-item i{
	font-size:50px;	
	border:2px solid rgba(0, 130, 217, 0.5);
	width:100px;
	line-height:98px;
	height:100px;
	border-radius:50%;
	color:#999;
}
#products .service-item a:hover i{
	background:rgba(0, 130, 217, 0.5);
	color:#333;	
}
#products .service-item h4{
	font-weight:700;
	margin:25px 0;	
}
#products .service-item p{
	color:#888;
	font-size:14px;	
}

#contacts{
	padding:60px 0 100px 0;
	background:#eee;	
}
.contact-intro{
	
}
.contact-intro h2{
	color:#444;
	margin-bottom:50px;
	font-size:34px;
}
.contact-info{
	color:#444;
}
.contact-info .item{
	margin-bottom:30px;	
}
.contact-info .item i{
	font-size:34px;	
	color:#666;
	margin-bottom:20px
}


footer{
	background:#222;
	padding-top:20px;
	text-align:left;
}
#footer info{
	
}
#footer .info h5{
	color:#fff;	
	text-transform:uppercase;
	font-size:16px;
}
#footer .info{
	margin-bottom:30px;	
}
#footer .info ul{
	margin-left:0;
	padding-left:0;
	padding-right:30px;
}	
#footer .info ul li{
	list-style:none;
	
	border-bottom:1px dotted #333;	
}
#footer .info ul li:last-child{
	border:0;	
}
#footer .info ul li a{
	color:#999;
	padding:15px 0;
	display:inline-block;	
}

#footer .info .social i{
	width:36px;
	height:36px;
	text-align:center;
	color:#fff;
	line-height:34px;	
	border-radius:50%;
	margin-right:10px;
}
.bottom{
	padding:15px;
	background:#191919;
	color:#999;
	text-align:center;
}
@media (max-width: 992px){
	#footer .info ul{
		padding-right:0;	
	}	
}
@media (max-width: 768px){
	#footer{
		text-align:center;	
	}
}