@font-face {
    font-family: PTSans;
    font-weight: normal;
    src: url(../font/PT_Sans-Web-Regular.ttf);
}
@font-face {
    font-family: PTSans;
    font-weight: bold;
    src: url(../font/PT_Sans-Web-Bold.ttf);
}
@font-face {
    font-family: WorkSans;
    src: url(../font/WorkSans-Light.ttf);
}

body{
	padding:0;
	margin:0;
	font-family: PTSans, Helvetica, Arial, sans-serif
}
h1,h2,h3,h4,h5{
	margin:0;
	padding:0;	
}
a,a:hover{
	text-decoration:none !important	
}

#header{
	position: relative;
    text-align: center;
    color: #fff;
	background-color: #1080f2;
	background-image: linear-gradient(180deg, rgba(51, 51, 51, 0.04) 0%, rgba(255, 255, 255, 0.04) 100%);	
}
#header .container{
	position:relative;
	z-index:10;	
}
#particles-js {
    position: absolute;
    top: 0;
    left:0;
  right:0;
}

.intro-text{
	padding-top: 165px;
    padding-bottom: 0;	
}
.intro-text h1{
	font-size:44px;	
	    line-height: 100px;
	font-family:WorkSans, Helvetica, Arial, sans-serif	
}
.intro-text .intro-heading{
	font-size:18px;	
}

.header-buttons {
    margin:50px auto 100px auto;
}

.primary-button {
    min-width: 150px;
    padding: 0 20px;
    background-color: white;
    border-radius: 2px;
    color: #1080f2;
    font-family: PTSans;
    display: inline-block;
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 36px;
    margin: 0 10px;
    border: 2px solid white;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.secondary-button {
    min-width: 150px;
    text-align: center;
    line-height: 36px;
    background: #1080f2;
    display: inline-block;
    line-height: 36px;
    color: white;
    font-family: PTSans;
    font-size: 14px;
    margin: 0 10px;
    font-weight: 700;
    text-transform: uppercase;
    border: 2px solid white;
    border-radius: 2px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.primary-button.button-inverse {
    color: #fff;
    background: #1080f2;
    border: 2px solid #1080f2;
    margin: 0;
}
.primary-button.button-inverse:hover {
    color: #1080f2;
    background: transparent;
    border: 2px solid #1080f2;
}
.secondary-button {
    min-width: 150px;
    text-align: center;
    line-height: 36px;
    background: #1080f2;
    display: inline-block;
    line-height: 36px;
    color: white;
    font-family: PTSans;
    font-size: 14px;
    margin: 0 10px;
    font-weight: 700;
    text-transform: uppercase;
    border: 2px solid white;
    border-radius: 2px;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
}
.secondary-button-inverse {
    color: #1080f2;
    border-color: #1080f2;
    background: #fff
}
.secondary-button.secondary-button-inverse:hover {
    color: #fff;
    background: #1080f2;
}
.primary-button:hover {
    background: none;
    color: #fff;
    text-decoration: none;
}
.secondary-button:hover {
    background: #fff;
    color: #273140;
    text-decoration: none;
}

.header-dashboard img{
	width:1050px;
}

section{
	border-bottom:1px solid #ddd;
	padding:70px 0;	
}
section h2{
	font-size:50px;
	font-family:WorkSans, Helvetica, Arial, sans-serif	
}

#services{
	
}
#services h2{
	text-align:center;	
	
}
.section-subheading{
	font-size:18px;
	
}	
.service-item{
	margin-top:50px;
	vertical-align:top;
	border:1px solid transparent;
	padding:10px 10px;
	position:relative;
	border-radius:3px;	
}

.service-item:hover{
	border-color:#1080f2;	
	cursor:pointer;
}
.service-item i{
	font-size:70px;	
	color:#1080f2;	
}
.service-item h4{
	color:#333;
	font-size:25px;	
	text-transform:capitalize;
	line-height:40px;
	
}

.service-description{
	font-size:15px;
	margin-top:10px;
	margin-bottom:15px;
	color:#666;
	font-family:Arial, Helvetica, sans-serif;
	height:70px;
}
.service-item label{
	display:block;
	margin-bottom:15px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
}
.service-item a.btn{
	border-radius:2px;
	font-weight:500;
	line-height:22px;
	text-transform:uppercase;
	width:80px;
	
}

#video{
	height:500px;
		
}



#pricing{
	background:#fff;
}
#pricing h2{
	padding-bottom:30px;
	
	font-family:WorkSans, Helvetica, Arial, sans-serif	
}
.list-tool li{
	list-style:none;	
	display:inline-block;
	margin-right:35px;
	
}
.list-tool{
	padding:0;
	margin-top:20px;
	margin-bottom:10px;	
}
.list-tool li a{
	display:inline-block;
	font-size:20px;
	color:#666;	
	padding:5px 5px;
	border-bottom:2px solid transparent;
	text-transform:capitalize;
}
.list-tool li a:hover{
	color:#1080f2	
}
.list-tool li a.active{
	border-color:#1080f2;
}
.plan-row{
	display:none;	
}
.plan-row.active{
	display:block;	
}
.plan{
	margin-top:20px;
	text-align:center;
	border-radius:2px;
	
}
.plan:hover{
	border-color:#1080f2	
}
.plan h4{
	line-height:50px;
	font-size:17px;
	background:#1080f2;
	color:#fff;
	text-transform:uppercase;
	font-weight:600;
	
	
}
.plan>div{
	border:2px solid #ddd;
	border-top:0;	
}
.plan-price{
	padding-top:50px;
	font-size:60px;
	color:#1080f2;
	font-weight:300;
	font-family:WorkSans, Helvetica, Arial, sans-serif
		
}
.plan-price small{
	font-size:40px;
	vertical-align:top;	
}
.plan a.btn{
	background:#fff;
	border:2px solid #1080f2;
	border-radius:2px;
	color:#1080f2;
	width:110px;
	text-transform:uppercase;
	font-weight:600;
	line-height:26px;
	margin-top:40px;
	margin-bottom:10px;	
}
.plan a.btn:hover{
	background:#1080f2;
	
	color:#fff;
	
}


#contact{
	padding-bottom:100px;	
}
#contact h2{
	margin-bottom:80px;
	font-size:50px;
	font-family:WorkSans, Helvetica, Arial, sans-serif	
}
.social-contact p{
	font-size:18px;
	margin-bottom:20px;
}

.frm-contact{
	margin:auto;
	text-align:left;
}
.frm-contact .form-group{
	margin-bottom:25px;	
}
.frm-contact input{
	display:inline-block;
	width:48%;
	border-radius:2px;
	height:50px;
	padding:0 20px;	
}
.frm-contact textarea{
	padding:20px;
	border-radius:2px;	
}
.frm-contact button{
	border-radius:2px;
	height:50px;
 background-color: #1080f2;
	border:none;
	font-weight:600;
	font-size:16px;	
}






