#pricing{
	padding-top:100px;	
}
#pricing h1{
	text-align:center;
	line-height:50px;
	margin-bottom:50px;	
}
.list-tool li{
	list-style:none;	
	display:inline-block;
	margin-right:35px;
	
}
.list-tool{
	padding:0;
	margin-bottom:50px;	
}
.list-tool li a{
	display:inline-block;
	
	font-size:20px;
	color:#666;	
	padding:5px 5px;
	border-bottom:2px solid transparent;
}
.list-tool li a:hover{
	color:#1080f2	
}
.list-tool li a.active{
	border-color:#1080f2;
}

.plan{
	border:1px solid #ddd;
	margin-top:20px;
	text-align:center;
	border-radius:4px;
	
}
.plan:hover{
	border-color:#1080f2	
}
.plan h4{
	line-height:30px;
	margin:10px 0;
	margin-top:20px;
	font-size:22px;
	
}
.plan h4 small{
	color:#333;
	opacity:0.7;
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;	
}
.plan-price{
	font-weight:bold;
	font-size:30px;
	margin:10px 0;
	color:#1080f2;
		
}
.plan button{
	
	border-radius:2px;
	
	margin-top:10px;
	margin-bottom:10px;	
}
